/**
 * Components / Page - Respeitar
 * Section - Reabilitação
 */

.pricing {
  .plans {
    @include wh(100%, $max-w: $col-8);
    position: relative;
    margin-bottom: 100px;

    &::after {
      content: '';
      display: block;
      @include wh(3px, 336px);
      @include background('brushes/brush-pricing-divider.svg', $size: cover);
      @include pos(-10px, $left: 50%);
    }
  }

  .plan {
    @include wh(100%, $max-w: 346px);
    
    .plan-header {
      margin-bottom: 32px;
    }

    .plan-name {
      max-width: 200px;
    }
  }

  .plan-left {
    li {
      @include flex(space-between);
    }
    
    li + li {
      margin-top: 14px;
    }
  }

  .plan-right {
    justify-self: end;

    .plan-header {
      @include flex(space-between, flex-end);

      .label {
        margin-bottom: 5px;
      }
    }

    .main,
    .secondary {
      @include flex(space-between);
    }

    .secondary {
      margin-top: 2px;
      padding-left: 16px;
      @include flex($align: center);

      .value {
        font-size: 20px;
        font-weight: 700;
      }
    }

    li + li {
      margin-top: 18px;
    }
  }

  @include mq-max($break-tablet) {
    .plans {
      @include grid(1fr, $justify-i: center, $gap: 48px);
      margin-bottom: 56px;

      &::after {
        transform: rotate(90deg);
        top: 36px;
      }
    }

    .plan {
      .plan-header {
        margin-bottom: 24px;
      }
    }

    .plan-left {
      li + li {
        margin-top: 8px;
      }
    }

    .plan-right {
      justify-self: center;

      .secondary {
        margin-top: 0;
      }

      li + li {
        margin-top: 14px;
      }
    }
  }
}