/**
 * Components / Page - Respeitar
 * Section - Reabilitação
 */

.reabilitacao {
  .rows {
    @include grid(1fr, $gap: 64px)
  }
  
  .row {
    align-items: center;

    .content {
      p + p {
        margin-top: 16px;
      }
    }

    &.inverted {
      .image {
        order: -1
      }
    }

    &:first-child {
      margin-bottom: 40px;

      .content {
        justify-self: center;
        max-width: $col-4;
      }

      .image {
        margin-right: -100px;
      }
    }

    &.row-quote {
      position: relative;

      .quote {
        @include replace-text('text/text-quote-santi.png', $size: 100%, $width: 262px, $height: 192px);
      }
      
      .author {
        @include pos($bottom: 48px);
      }
    }

    &:nth-child(3) {
      .content {
        justify-self: center;
        max-width: $col-5;
      }

      .image {
        margin-left: -100px;
      }
    }

    &:last-child {
      .content {
        justify-self: center;
        max-width: $col-4;
      }

      .image {
        justify-self: end;
      }
    }
  }
}