/**
 * Components / Page - Respeitar
 * Section - Reabilitação
 */

.reabilitacao {
  .rows {
    width: 100%;
    @include grid(1fr, $gap: 64px)
  }
  
  .row {
    align-items: center;

    .content {
      p + p {
        margin-top: 16px;
      }
    }

    .image {
      width: 100%;
    }

    &.inverted {
      .image {
        order: -1
      }
    }

    &:first-child {
      margin-bottom: 40px;

      .content {
        justify-self: center;
        max-width: $col-4;
      }

      .image {
        margin-right: -100px;
      }
    }

    &.row-quote {
      position: relative;

      .quote {
        @include replace-text('text/text-quote-santi.png', $size: 100%, $width: 262px, $height: 192px);
      }
      
      .author {
        @include pos($bottom: 48px);
      }
    }

    &:nth-child(3) {
      .content {
        justify-self: center;
        max-width: $col-5;
      }

      .image {
        margin-left: -100px;
      }
    }

    &:last-child {
      .content {
        justify-self: center;
        max-width: $col-4;
      }
    }
  }

  @include mq-max(1200) {
    .row {
      &:first-child {
        .image {
          margin-right: 0;
        }
      }
    }
  }

  @include mq-max($break-tablet) {
    .rows {
      row-gap: 56px;
    }

    .row {
      @include grid(1fr, $justify-i: center, $gap: 20px);

      .content {
        max-width: 335px;
      }

      .image {
        width: calc(100% + 24px);
      }

      &:first-child,
      &:last-child {
        margin-bottom: 0;

        .image {
          order: -1;
        }
      }

      &:nth-child(3),
      &:last-child {
        .image {
          margin-left: 0;
        }

        .content {
          max-width: 335px;
        }
      }
    }
  }
}