/**
 * Components / Page - Home
 * Bottom Image
 */

.bottom {
  margin-top: -200px;
  position: relative;

  &::after {
    content: '';
    display: block;
    @include wh(100%, 48px);
    @include background('brushes/brush-hero-bottom.png', $size: 120%);
    @include pos($bottom: -20px);
  }
}