/**
 * Components / Page - Home
 * Hero
 */

.hero {
  @include wh(100%, 820px);
  @include background('heros/background-hero-home.jpg', $pos-y: bottom, $size: cover);

  .container {
    height: 100%;
  }

  .hero-logo {
    margin-bottom: 64px;
  }

  .title {
    @include replace-text('titles/title-home-intro.png', $width: 556px, $height: 120px);
    margin-bottom: 24px;
  }

  .intro {
    color: get-color(text, white);
    text-align: center;
    max-width: $col-6;
    margin-bottom: 40px;
  }
}