/**
 * Components / Pages
 * Contactos
 */

.contacts {
  padding: 120px 0;

  .title {
    margin-bottom: 32px;
  }

  .content {
    margin-bottom: 40px;
    max-width: 450px;
    text-align: center;
  }

  @include mq-max(570) {
    padding: 56px 0 72px;

    .title,
    .content {
      margin-bottom: 24px;
    }

    .content {
      max-width: 300px;
    }
  }
}