/**
 * Components / Pages
 * Contactos
 */

.contacts {
  padding: 120px 0;

  .title {
    margin-bottom: 32px;
  }

  .content {
    margin-bottom: 40px;
    max-width: 450px;
    text-align: center;
  }
}