/**
 * Components / Pages
 * Section
 */

.main-section {
  padding: 148px 0;
  position: relative;

  .container {
    &::before {
      content: '';
      display: block;
      @include wh(100%, 48px);
      @include background('brushes/brush-section-divider.png', $size: cover);
      @include pos(-148px);
    }
  }

  .section-header {
    margin-bottom: 72px;
    
    .title {
      margin-bottom: 24px;
    }

    .intro {
      max-width: $col-6;
      margin-bottom: 32px;
      text-align: center;
    }
  }
}