/**
 * Components / Page - Cuidar
 * Section - Alojamento
 */

.alojamento {
  .images {
    justify-items: center;
    margin-bottom: 80px;
    column-gap: 10px;

    .image {
      width: 100%;
    }

    .left {
      @include wh(100%, $max-w: 496px);
      margin-top: 40px;
    }

    .right {
      @include wh(100%, $max-w: 586px);
    }
  }

  .features {
    &-list {
      @include wh(100%, $max-w: $col-8);
      row-gap: 24px;
    }

    li {
      max-width: 340px;
      @include flex($align: center);

      &::before {
        content: '';
        display: block;
        margin-right: 16px;
        @include wh(24px, 24px);
        @include background('icons/icon-check.svg', $size: 100%);
        flex-shrink: 0;
      }
    }
  }

  @include mq-max($break-tablet) {
    .images {
      margin-bottom: 48px;
    }

    .features {
      &-list {
        row-gap: 12px;
      }
    }
  }

  @include mq-max(690) {
    .features {
      &-list {
        max-width: 340px;
        @include grid(1fr, $gap: 16px);
      }
    } 
  }

  @include mq-max(420) {
    .images {
      @include grid(1fr);

      .left {
        margin-top: 0;
        width: calc(100% + 24px);
      }

      .right {
        display: none;
      }
    }
  }
}