/**
 * Components / Site
 * Header
 */

.header-main {
  width: 100%;
  padding: 40px 0;

  .container {
    @include grid(1fr 1fr 1fr, $align: center);
  }

  .menu {
    justify-self: center;

    &-link {
      margin: 0 32px;
      position: relative;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      &::after {
        content: '';
        display: block;
        @include wh(calc(100% - 10px), 3px);
        @include background('brushes/brush-link-underline.svg', $size: 100%);
        @include pos($left: 50%, $bottom: -4px);
        transform: translateX(-50%);
        opacity: 0;
        transition: all 80ms;
      }

      &:hover::after {
        opacity: .2;
      }

      &.active::after {
        opacity: 1;
      }
    }
  }

  .button-drawer {
    justify-self: end;
  }

  .menu-drawer {
    display: none;
  }

  &.floating {
    @include pos(0, $pos: fixed, $z: 999);

    .button-drawer {
      @include pos(0, 0);
    }
  }
}