/**
 * Components / Site
 * Header
 */

.header-main {
  width: 100%;
  padding: 40px 0;

  .container {
    @include grid(1fr 70% 1fr, $align: center);
  }

  .menu {
    justify-self: center;

    &-link {
      margin: 0 32px;
      position: relative;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      &::after {
        content: '';
        display: block;
        @include wh(calc(100% - 10px), 3px);
        @include background('brushes/brush-link-underline.svg', $size: 100%);
        @include pos($left: 50%, $bottom: -4px);
        transform: translateX(-50%);
        opacity: 0;
        transition: all 80ms;
      }

      &:hover::after {
        opacity: .2;
      }

      &.active::after {
        opacity: 1;
      }
    }
  }

  .button-drawer {
    @include pos(80px, 556px, $z: 999);
  }

  .menu-drawer {
    @include wh(500px, 100vh);
    @include pos(0, 0, $pos: fixed, $z: 999);
    transform: translateX(105%);
    transition: all 320ms cubic-bezier(0.22, 0.61, 0.36, 1);

    &.open {
      transform: translateX(0);
    }

    .links {
      @include wh(100%, 100vh);
      @include pos(0, 0);

      .link {
        @include wh(100%, calc(100vh / 3));
        position: relative;

        .title {
          position: relative;
          transition: all 120ms;

          &-respeitar-white {
            @include wh(220px, 72px);
          }

          &-cuidar-white {
            @include wh(154px, 72px);
          }

          &-proteger-white {
            @include wh(209px, 72px);
          }
        }

        &::before {
          content: '';
          display: block;
          @include wh(100%, 100%);
          background-image: linear-gradient(180deg, rgba(0,0,0,0.67) 0%, rgba(0,0,0,0.96) 100%);
          opacity: .6;
          @include pos(0, $left: 0);
          transition: all 120ms;
        }

        &:hover {
          .title {
            transform: scale(1.06);
          }

          &::before {
            opacity: 1;
          }
        }
      }

      .respeitar {
        @include background('backgrounds/background-tile-respeitar.jpg', $size: cover);
      }

      .cuidar {
        @include background('backgrounds/background-tile-cuidar.jpg', $size: cover);
      }

      .proteger {
        @include background('backgrounds/background-tile-proteger.jpg', $size: cover);
      }
    }
  }

  &.drawer {
    padding: 0;

    .menu,
    .logo {
      display: none;
    }
  }

  @include mq-max($break-tablet) {
    .container {
      @include grid(1fr, $justify-i: center);
    }

    .menu {
      display: none;
    }
  }

  @include mq-max(570) {
    .logo {
      height: 100px;
    }

    .button-drawer {
      top: 70px;
    }
  }

  @include mq-max(600) {
    .menu-drawer {
      width: 260px
    }

    .button-drawer {
      right: 294px;
    }
  }
}

.header-back {
  width: 100%;
  padding: 40px 0;

  .container {
    @include grid(repeat(3, 1fr), $align: center);
    grid-template-areas: 'action logo .';
  }

  .logo {
    grid-area: logo;
    justify-self: center;
  }

  @include mq-max(570) {
    .logo {
      height: 100px;
    }

    .back {
      font-size: 0;
    }
  }
}