/**
 * Components
 * Buttons
 */

button {
  cursor: pointer;
}

.button-drawer {
  @include wh(44px, 40px);
  @include background('buttons/button-drawer.svg');
  transition: all 120ms;

  &:hover {
    transform: scale(0.94);
  }
}

.button-social {
  display: inline-block;
  @include wh(32px, 32px);

  &.facebook {
    @include background('buttons/social/button-facebook.svg', $size: cover)
  }

  &.instagram {
    @include background('buttons/social/button-instagram.svg', $size: cover)
  }

  &.twitter {
    @include background('buttons/social/button-twitter.svg', $size: cover)
  }
}

.button {
  display: inline-block;
  padding: 16px 0;
  position: relative;
  @include wh(230px, 54px);
  @extend .button-text;
  color: get-color(text, white);
  text-align: center;
  transition: all 120ms;
  z-index: 1;

  &:hover {
    transform: scale(.98);
  }

  &::before {
    content: '';
    display: block;
    @include wh(230px, 54px);
    @include background('buttons/button-background-dark-medium.svg', $size: 100%);
    @include pos(0, $left: 0, $z: -1);
  }

  &-dark {
    @extend .button;

    &.page-down {
      text-align: left;
      @include flex(center, center);

      &::after {
        content: '';
        display: block;
        @include wh(12px, 8px);
        @include background('icons/icon-disclosure-down-white.svg', $size: 100%);
        margin-left: 14px;
      }

      &:hover {
        transform: translateY(2px);
      }
    }

    &.messenger {
      text-align: left;
      @include flex(center, center);

      &::after {
        content: '';
        display: block;
        @include wh(18px, 18px);
        @include background('icons/icon-messenger.svg', $size: cover);
        margin-right: 10px;
        order: -1;
      }
    }
  }
}