/**
 * Components / Page - Proteger
 * Section - Santuário
 */

.santuario {
  .rows {
    @include grid(1fr, $gap: 64px)
  }
  
  .row {
    align-items: center;
    justify-items: center;

    p + p {
      margin-top: 16px;
    }

    .image {
      width: 100%;
    }

    &:first-child {
      align-items: start;

      .image,
      .right {
        justify-self: center;
      }

      .left {
        @include wh(100%, $max-w: 480px);

        .image {
          margin-top: 32px;
        }
      }

      .right {
        .image {
          margin-bottom: 80px;
          width: calc(100% + 100px);
        }
        
        p {
          max-width: $col-4;
        }
      }
    }

    &.row-quote {
      margin-bottom: 24px;

      .quote {
        @include replace-text('text/text-quote-santuario.png', $size: 100%, $width: 521px, $height: 194px);
      }
    }

    &:nth-child(3) {
      column-gap: 16px;
    }
    
    &:last-child {
      .content {
        max-width: $col-6;
      }

      .note {
        @include background('backgrounds/background-note.svg', $size: 100%);
        @include flex($align: center);
        margin-top: 72px;
        padding-left: 64px;
        
        p {
          max-width: 328px;
          margin-top: -4px;
        }

        &::before {
          content: '';
          display: block;
          @include wh(62px, 72px);
          @include background('logos/logo-mono.png', $size: 100%);
          flex-shrink: 0;
          margin-right: 24px;
          padding: 36px 0 37px;
        }
      }
    }
  }

  @include mq-max(1000) {
    .row:first-child {
      .right,
      .left {
        .image {
          width: calc(100% + 24px);
        }

        p {
          padding-left: 32px;
        }
      }
    }
  }

  @include mq-max($break-tablet) {
    .rows {
      row-gap: 56px;
    }

    .row {
      &:first-child {
        @include grid(1fr, $gap: 24px);

        .left .image {
          margin: 0;
        }

        .right {
          order: -1;

          .image {
            margin-bottom: 32px;
          }

          p {
            padding-left: 0;
          }
        }
      }

      &:nth-child(3) {
        @include grid(1fr, $gap: 10px);

        .image:first-child {
          max-width: 320px;
          justify-self: start;
        }

        .image:last-child {
          max-width: 340px;
          justify-self: end;
        }
      }
    }
  }

  @include mq-max(570) {
    .row.row-quote {
      margin-bottom: 0;

      .quote {
        @include wh(400px, 150px);
      }
    }

    .row:last-child {
      .note {
        flex-direction: column;
        padding: 8px 48px 40px;
        width: calc(100% + 24px);
        margin: 48px 0 0 -12px;

        &::before {
          margin-right: 0;
          padding: 24px 0;
          @include wh(55px, 64px);
        }

        p {
          text-align: center;
        }
      }
    }
  }

  @include mq-max(460) {
    .row.row-quote .quote {
      @include wh(320px, 120px);
    }
  }

  @include mq-max(400) {
    .row.row-quote .quote {
      width: 100%;
    }
  }
}