/**
 * Base
 * Variables
 */

// Colors
@function get-color($main, $variation: null, $palette: null) {
  @if $palette == null {
    $palette: $colors;
  }

  @if $variation {
    @return map-get(map-get($palette, $main), $variation);
  } @else {
    @return map-get($palette, $main);
  }
}

$colors: (
  basic: (
    white: #fff,
    black: #000
  ),
  text: (
    primary: #00253D,
    light: #787B83,
    lighter: #B3BCC1,
    white: #FDFDFD
  ),
  accent: (
    primary: #1D3C34
  ),
  border: (
    primary: #F0F0F0
  ),
  button: (
    dark: #00253D,
    dark-hover: #083E62
  )
);

// Layout
$container-width: 1194px;
$container-padding: 30px;
$column-width: 72px;
$gap-width: 30px;

$col-1: $column-width;
$col-2: ($column-width * 2) + ($gap-width * 1);
$col-3: ($column-width * 3) + ($gap-width * 2);
$col-4: ($column-width * 4) + ($gap-width * 3);
$col-5: ($column-width * 5) + ($gap-width * 4);
$col-6: ($column-width * 6) + ($gap-width * 5);
$col-7: ($column-width * 7) + ($gap-width * 6);
$col-8: ($column-width * 8) + ($gap-width * 7);
$col-9: ($column-width * 9) + ($gap-width * 9);
$col-10: ($column-width * 10) + ($gap-width * 9);

// Fonts
$font-main: 'Crimson Pro', Georgia, serif;
$font-secondary: 'Barlow Semi Condensed', system-ui, sans-serif;
$weight-text: 400;